<launch>
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find arm_desc)/urdf/arm.xacro'"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find arm_desc)/rviz/arm_sim.rviz"/>
    <node name="keyboard_teleop" pkg="keyboard_teleop" type="keyboard_teleop.py"/>
</launch>
